{% extends 'base.html' %}

{% block content %}
<p id= "lab3" class = 'KES' > 
    Le principe est simple: 
</br>Refaire l'internet ensemble.
</br>Marre de faire de recherches et de trouver ce que vous cherchez?
</br>Internet simulator se propose de vous faire trouver ce que vous n'auriez jamais cherché
</br>Vous vous sentez original?
</br>Entrez un lien pour l'ajouter à l'internet
</br>Vous vous sentez aventureu(se)?
</br>Laissez vous transporter par ce que d'autres on ajouté à l'internet!
</p>

<p class = "Author" id = "lab8">Fait avec amour et chocolat par Théo Renard </p>
{% endblock %}