{% extends 'base.html' %}

{% block content %}
<div>
    <form action"/NewUrl/" method = POST>
        {% csrf_token %}
    {{ form }}
        <label id = "lab3" for="NewUrl">Entrez un lien puis appuyez sur le bouton pour l'ajouter à l'internet</label></br></br>
        <input 
    type="text"
    id="URL"
    required size= "45" 
    maxlength =  2300
    size = 100
    placeholder="http://..."
    name = URL>
</div>
<div>
    <button class="button_new">
    </button>
</div>
</form>

{% endblock %}